<ul class="container_style">
    <li class="container_li"><a href="https://hp-api.onrender.com/api/characters" >All Characters</a></li>
    <li class="container_li"><a href="https://hp-api.onrender.com/api/character/:id" >Specific Character by ID</a></li>
    <li class="container_li"><a href="https://hp-api.onrender.com/api/characters/students" >Hogwarts Students</a></li>
    <li class="container_li"><a href="https://hp-api.onrender.com/api/characters/staff" >Hogwarts Staff</a></li>
    <li class="container_li"><a href="https://hp-api.onrender.com/api/characters/house/gryffindor" >Characters in a House</a></li>
    <li class="container_li"><a href="https://hp-api.onrender.com/api/spells" >All Spells</a></li>
</ul>