<ul class="container_style">
    <li class="container_li">
        <a href="https://hp-api.onrender.com/api/characters" >All Characters</a>
        <span class="green">200</span>
    </li>
    <li class="container_li">
        <a href="https://hp-api.onrender.com/api/character/:id" >Specific Character by ID</a>
        <span class="red">500</span>
    </li>
    <li class="container_li">
        <a href="https://hp-api.onrender.com/api/characters/students" >Hogwarts Students</a>
        <span class="green">200</span>
    </li>
    <li class="container_li">
        <a href="https://hp-api.onrender.com/api/characters/staff" >Hogwarts Staff</a>
        <span class="green">200</span>
    </li>
    <li class="container_li">
        <a href="https://hp-api.onrender.com/api/characters/house/gryffindor" >Characters in a House</a>
        <span class="green">200</span>
    </li>
    <li class="container_li">
        <a href="https://hp-api.onrender.com/api/spells" >All Spells</a>
        <span class="green">200</span>
    </li>
</ul>